*{
    scroll-behavior: smooth;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
#albumSectionTitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}